/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


:root {
  --white: #fff;
  --primary-rh: #AF5C5B;
  --secondary-rh: #B2933C;
}

.txt-white {
  color: var(--white) !important;
}

.txt-primary {
  color: var(--primary-rh) !important;
}

.txt-secondary {
  color: var(--secondary-rh) !important;
}

.fs-large {
  font-size: 50px;
}

.fw-bold {
  font-weight: 700;
}

.mt-10 {
  margin-top: 10rem;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo {
  width: 100px;
}

.nav-link {
  color: var(--primary-rh) !important;
  font-size: 1.5rem !important;
  font-weight: 600;
}

.nav-link:hover {
  color: var(--secondary-rh) !important;
}

.center-hv {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.btn-primary-rh {
  background: var(--primary-rh)!important;
  border: none !important;
  color: var(--white);
  padding: 15px 15px;
  transition: all ease 0.5s;
}

.btn-primary-rh:hover {
  background: var(--secondary-rh) !important;
  color: var(--white);
  text-decoration: none;
}

.btn-primary-rh:focus {
  outline: none !important;
  filter: brightness(85%);
}

footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

.social-icon {
  margin: 2rem;
}

.h1-title {
  color: var(--primary-rh);
  text-decoration: underline;
}

.text-center {
  text-align: center;
}

.p-about {
  margin: 0 auto;
  text-align: center;
  width: 30rem;
  font-weight: 500;
  font-size: 20px;
}

#form-container {
  width: 30rem !important;
}

@media only screen and (max-width: 700px) {
  .h1-title {
    font-size: 30px;
  }

  .social-icon {
    margin: 1rem;
  }

  .txt-secondary, .txt-primary {
    font-size: 30px;
    text-align: center;
  }

  .p-about {
    width: 20rem;
  }

  #form-container {
    width: 23rem !important;
  }
}